<div>ようこそ、ながのCAKWへ！</br>
このサイトは、ケーキ販売のECサイトになります。</br>
会員でない方も商品の閲覧はできますが、</br>
購入には会員登録が必要になります。</div>
<h2>新着商品</h2>
<% @new_items.each do |item| %>
<%=image_tag item.image %>
<%=item.name %>
<%=item.price%>
<% end %>
 <%= link_to "全ての商品を見る >", items_path %>
    
