<h1>ショピングカート</h1
<table class="teble">
  <thead>
    <tr>
     <th　class= "bg-light">商品名</th>
     <th　class= "bg-light">単価（税込）</th>
     <th　class= "bg-light">数量</th>
     <th　class= "bg-light">小計</th>
     <thclass= "bg-light"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>内容1</td>
        <td>内容2</td>
        <td>内容1</td>
        <td>内容2</td>
        <td>内容1</td>
    </tr>
  </tbody>
</table>
<table class="teble">
  <thead>
    <tr>
     <th　class= "bg-light">合計金額</th>
     <th></th>
    </tr>
  </thead>
  </table>