<h1>注文履歴一覧</h1>
<table class="table table-bordered">
  <thead>
    <tr>
        <th class= "bg-light">注文日</th>
        <th class= "bg-light">配送先</th>
        <th class= "bg-light">注文商品</th>
        <th class= "bg-light">支払金額</th>
        <th class= "bg-light">ステータス</th>
        <th class= "bg-light">注文詳細</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>内容1</td>
      <td>内容2</td>
        <td>内容1</td>
      <td>内容2</td>
        <td>内容1</td>
      <td>内容2</td>
    </tr>
  </tbody>

</table>